<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zzh.dao.BorrowApplyDAO">

    <delete id="removeById" parameterType="top.zzh.bean.BorrowApply">
        <![CDATA[
          delete from t_borrowapply where baid = #{baid}
        ]]>
    </delete>

    <insert id="save" parameterType="top.zzh.bean.BorrowApply">
        <![CDATA[
          insert into t_borrowapply(rname,money,uid,bzid,time,state,type,term,deadline)
          values(#{rname},#{money},#{uid},#{bzid},null,0,#{type},#{term},#{deadline})
        ]]>
    </insert>

    <update id="update" parameterType="top.zzh.bean.BorrowApply">
        <![CDATA[
            update t_borrowapply set money = #{money},bzid = #{bzid},type = #{type},
            term = #{term},deadline = #{deadline} ,state = 1 where baid = #{baid}
        ]]>
    </update>

    <update id="updateState" parameterType="top.zzh.bean.BorrowApply">
        <![CDATA[
           update t_borrowapply set state = 1,time = CURRENT_TIME where baid = #{baid}
        ]]>
    </update>

    <!-- 真实姓名，申请借款金额-->
    <sql id="cash_query_criteria">
        <if test="query != null and query.rname != null and query.rname!=''">
            and ba.rname like concat('%', #{query.rname}, '%')
        </if>
        <if test="query != null and query.money != null and query.money!=''">
            and ba.money like concat('%', #{query.money}, '%')
        </if>
    </sql>

    <select id="listPager" resultType="top.zzh.bean.BorrowApply">
        <![CDATA[
       select ba.baid,ba.bzid,ba.rname,ba.money,u.uname,ba.time,ba.state,b.bzname,ba.term,ba.type,ba.deadline from
      t_borrowapply ba,t_user u,t_bz b
      where ba.uid = u.uid and ba.bzid = b.bzid
         limit #{pager.beginIndex}, #{pager.pageSize}
         ]]>
    </select>

    <select id="listPagerCriteria" resultType="top.zzh.bean.BorrowApply">
        select ba.baid,ba.bzid,ba.rname,ba.money,u.uname,ba.time,ba.state,b.bzname,ba.term,ba.type,ba.deadline from
        t_borrowapply ba,t_user u,t_bz b
        where ba.uid = u.uid and ba.bzid = b.bzid
        <include refid="cash_query_criteria"/>
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="listAll" resultType="top.zzh.bean.BorrowApply">
        select ba.baid,ba.bzid,ba.rname,ba.money,u.uid,ba.time,ba.state,b.bzname,b.bzid,ba.term,ba.type,ba.deadline from t_borrowapply ba,t_user u,t_bz b
        where ba.uid = u.uid and ba.bzid = b.bzid
    </select>

    <select id="countCriteria" resultType="long">
       <![CDATA[
            select count(baid) from t_borrowapply ba,t_user u,t_bz b
        where ba.uid = u.uid and ba.bzid = b.bzid
        ]]>
    </select>

    <select id="count" resultType="top.zzh.bean.BorrowApply">
        select count(baid) from t_borrowapply
    </select>

    <select id="getById" parameterType="top.zzh.bean.BorrowApply">
        <![CDATA[
        select * from t_borrowapply where baid=#{baid}
    ]]]>
    </select>

</mapper>