<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--谢山林-->
<mapper namespace="top.zzh.dao.ExcelIntoDAO">

    <insert id="intoDB" parameterType="java.util.List">
        <![CDATA[
          insert into t_permission(id,url,des_zh) values
        ]]>
        <foreach collection ="list" item="jur" separator =",">
           (#{id},#{url},#{desZh})
        </foreach >
    </insert>

    <insert id="saveJur" parameterType="top.zzh.bean.Permission">
        <![CDATA[
          insert into t_permission(url, des_zh) values (#{url},#{desZh});
        ]]>
    </insert>
</mapper>