<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zzh.dao.HkbDAO">

    <insert id="save" parameterType="top.zzh.bean.Hkb">
        <![CDATA[
           insert into t_hkb(uid,rname,cpname,tnum,ytime,bzname,ybx,ylx,ybj,state,baid,huid)
          values(#{uid},#{rname},#{cpname},#{tnum},#{ytime},#{bzname},#{ybx},#{ylx},#{ybj},#{state},#{baid},#{huid} )
        ]]>
    </insert>

    <insert id="saveList" parameterType="list">
        <![CDATA[
      insert into t_hkb(uid, rname, cpname, bzname,huid,
      ybx, ylx, ybj, tnum, baid, ytime, state, djq
      ) values
    ]]>
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.uid},#{item.rname},#{item.cpname},#{item.bzname},#{item.huid}
            ,#{item.ybx},#{item.ylx},#{item.ybj},#{item.tnum},#{item.baid},#{item.ytime},#{item.state},#{item.djq})
        </foreach>
    </insert>

    <insert id="save" parameterType="hkb">
        <![CDATA[
           insert into t_hkb(uid,rname,cpname,tnum,ytime,bzname,ybx,ylx,ybj,state,baid,huid)
           values(#{uid},#{rname},#{cpname},#{tnum},#{ytime},#{bzname},#{ybx},#{ylx},#{ybj},#{state},#{baid},#{huid})
        ]]>
    </insert>


    <insert id="saveList" parameterType="list">
        <![CDATA[
        insert into t_hkb(uid, rname, cpname, bzname,huid,
          ybx, ylx, ybj, tnum, baid, ytime, state, djq )
          values
      ]]>
        <foreach collection="list" item="item" index="index" separator="," >
              (#{item.uid},#{item.rname},#{item.cpname},#{item.bzname},#{item.huid}
            ,#{item.ybx},#{item.ylx},#{item.ybj},#{item.tnum},#{item.baid},#{item.ytime},#{item.state},#{item.djq})
        </foreach>
    </insert>


    <!-- 还款人项目，贷后负责人-->
    <sql id="cash_query_criteria">
        <if test="query != null and query.rname != null and query.rname!=''">
                and h.rname like concat('%', #{query.rname}, '%')
        </if>
        <if test="query != null and query.username != null and query.username!=''">
                and username like concat('%', #{query.username}, '%')
        </if>
    </sql>


    <select id="listPagerCriteria" resultType="top.zzh.vo.HkbVO">
       select h.rname,b.rname as name1 ,hu.rname as username,h.cpname,h.rnum,h.tnum,h.bzname,h.ybx,h.rbx,h.ylx,
        h.rbx,h.ybj,h.rbj,h.yfx,h.rfx,h.yucount,h.djq,h.state,h.ytime,h.rtime
        from t_hkb h,t_huser hu,t_user u,t_borrowapply b where b.baid = h.baid
        and  h.uid = u.uid and h.huid = hu.huid
        <include refid="cash_query_criteria"/>
                limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countCriteria" resultType="long">
        <![CDATA[
        select count(hkid) from t_hkb h,t_huser hu,t_user u,t_borrowapply b where b.baid = h.baid
              and  h.uid = u.uid and h.huid = hu.huid
                  ]]>
    </select>


    <!-- 还款人项目，贷后负责人-->
    <sql id="cash_query_criteria">
        <if test="query != null and query.rname != null and query.rname!=''">
            and h.rname like concat('%', #{query.rname}, '%')
        </if>
        <if test="query != null and query.username != null and query.username!=''">
            and username like concat('%', #{query.username}, '%')
        </if>
    </sql>

    <select id="listPagerCriteria" resultType="top.zzh.vo.HkbVO">
            select h.rname,b.rname as name1 ,hu.rname as username,h.cpname,h.rnum,h.tnum,h.bzname,h.ybx,h.rbx,h.ylx,
            h.rbx,h.ybj,h.rbj,h.yfx,h.rfx,h.yucount,h.djq,h.state,h.ytime,h.rtime
             from t_hkb h,t_huser hu,t_user u,t_borrowapply b where b.baid = h.baid
            and  h.uid = u.uid and h.huid = hu.huid
            <include refid="cash_query_criteria"/>
            limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countCriteria" resultType="long">
        <![CDATA[
            select count(hkid) from t_hkb h,t_huser hu,t_user u,t_borrowapply b where b.baid = h.baid
          and  h.uid = u.uid and h.huid = hu.huid
        ]]>
    </select>
</mapper>