<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zzh.dao.LogTxDAO">

    <insert id="save" parameterType="logTx">
        <![CDATA[
          insert into t_logtx(uid,bankcard,banktype,money,date_time,state)

        ]]>
    </insert>

</mapper>