<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zzh.dao.SkbDAO">

    <!-- 借款人，用户-->
    <sql id="cash_query_criteria">
        <if test="query != null and query.uname != null and query.uname!=''">
            and u.uname like concat('%', #{query.uname}, '%')
        </if>
        <if test="query != null and query.rname != null and query.rname!=''">
            and b.rname like concat('%', #{query.rname}, '%')
        </if>
    </sql>


    <select id="countCriteria" resultType="long">
        <![CDATA[
            select count(skid) from t_skb s,t_user u,t_borrowapply b
            where s.uid = u.uid and s.baid = b.baid
        ]]>
    </select>

    <select id="listPagerCriteria" resultType="top.zzh.vo.SkbVO">
            select u.uname,b.rname,s.ybx,s.rbx,s.ylx,s.rlx,s.ybj,s.rbj,s.rnum,s.tnum,s.fmoney,s.date
            from t_skb s,t_user u,t_borrowapply b
            where s.uid = u.uid and s.baid = b.baid
            <include refid="cash_query_criteria"/>
          limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countUid" resultType="long">
        <![CDATA[
        select count(skid) FROM t_skb WHERE uid=#{uid} and baid = #{baid}
    ]]>
    </select>


    <!--批量新增-->
    <insert id="saveList" parameterType="list">
        <![CDATA[
          insert into t_skb(uid,baid,ybx,ylx,ybj,tnum,sktime,juid,tzmoney,djq) values
        ]]>
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.uid},#{item.baid},#{item.ybx},#{item.ylx},#{item.ybj},#{item.tnum},#{item.sktime},#{item.juid},#{item.tzmoney},#{item.djq})
        </foreach>
    </insert>
</mapper>