<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zzh.dao.TxcheckDAO">

    <insert id="save" parameterType="txcheck">
        <![CDATA[
          insert into t_txcheck(txid, huid, isok, excute, date_time)
          values(#{txid},#{huid},#{isok},#{excute},#{date_time})
        ]]>
    </insert>



</mapper>