<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zzh.dao.UserMoneyDAO">

    <sql id="money">
        <if test="zmoney!=null">
            zmoney=#{zmoney},
        </if>
        <if test="kymoney!=null">
            kymoney=#{kymoney},
        </if>
        <if test="symoney!=null">
            symoney=#{symoney},
        </if>
        <if test="tzmoney!=null">
            tzmoney=#{tzmoney},
        </if>
        <if test="djmoney!=null">
            djmoney=#{djmoney},
        </if>
        <if test="dsmoney!=null">
            dsmoney=#{dsmoney},
        </if>
        <if test="jlmoney!=null">
            jlmoney=#{jlmoney},
        </if>
    </sql>
    <sql id="money_all">
        <if test="query.zmoney !=null">
            and zmoney=#{query.zmoney}
        </if>
        <if test="query.kymoney !=null">
           and  kymoney=#{query.kymoney}
        </if>
        <if test="query.symoney!=null">
            and symoney=#{query.symoney}
        </if>
        <if test="query.tzmoney !=null">
           and tzmoney=#{query.tzmoney}
        </if>
        <if test="query.djmoney !=null">
            and djmoney=#{query.djmoney}
        </if>
        <if test="query.dsmoney !=null">
           and dsmoney=#{query.dsmoney}
        </if>
        <if test="query.jlmoney !=null">
            and jlmoney=#{query.jlmoney}
        </if>
    </sql>
    <insert id="save" parameterType="userMoney">
        <![CDATA[
          insert into t_usermoney(uid,zmoney,kymoney,symoney,tzmoney,djmoney,dsmoney,jlmoney)
        values(#{uid},#{zmoney},#{kymoney},#{sysmoney},#{tzmoney},#{djmoney},#{dsmoney},#{jlmoney})
   ]]>
    </insert>
    <update id="update" parameterType="userMoney">
        <![CDATA[
          update t_usermoney
           ]]>
        <set>
          <include refid="money"/>
        </set>
    </update>

    <select id="listPager" resultType="userMoney">
        <![CDATA[
        select * from t_usermoney limit #{pager.beginIndex}, #{pager.pageSize}
        ]]>
    </select>
    <select id="count" resultType="long">
        select count(id) from t_usermoney
    </select>

    <select id="listPagerCriteria" resultType="top.zzh.bean.UserMoney">
        select * from t_usermoney
        where 1=1
        <include refid="money_all"/>
    </select>

    <select id="countCriteria" resultType="long">
        select count(id) from t_usermoney where 1=1
        <include refid="money_all"/>
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="getById" parameterType="top.zzh.bean.UserMoney">
        <![CDATA[
        select * from t_usermoney where uid=#{uid}
    ]]]>
    </select>

</mapper>