<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zzh.dao.UserMoneyDAO">

    <sql id="money_all">
        <if test="obj.zmoney !=null">
            and zmoney=#{obj.zmoney}
        </if>
        <if test="obj.kymoney !=null">
           and  kymoney=#{obj.kymoney}
        </if>
        <if test="obj.symoney!=null">
            and symoney=#{obj.symoney}
        </if>
        <if test="obj.tzmoney !=null">
           and tzmoney=#{obj.tzmoney}
        </if>
        <if test="obj.djmoney !=null">
            djmoney=#{obj.djmoney}
        </if>
        <if test="obj.dsmoney !=null">
           and dsmoney=#{dsmoney}
        </if>
        <if test="obj.jlmoney !=null">
            and jlmoney=#{obj.jlmoney}
        </if>
    </sql>
    <select id="save" parameterType="userMoney">
        <![CDATA[
          insert into t_usermoney(uid,zmoney,kymoney,symoney,tzmoney,djmoney,dsmoney,jlmoney)
        values(#{uid},#{zmoney},#{kymoney},#{symoney},#{tzmoney},#{djmoney},#{dsmoney},#{jlmoney})
   ]]>
    </select>
    <update id="update" parameterType="userMoney">
        <![CDATA[
          update t_usermoney
           ]]>
        <set>
            <if test="zmoney !=null">
                zmoney=#{zmoney},
            </if>
            <if test="kymoney !=null">
                kymoney=#{kymoney},
            </if>
            <if test="symoney !=null">
                symoney=#{symoney},
            </if>
            <if test="tzmoney!=null">
                tzmoney=#{tzmoney},
            </if>
            <if test="djmoney!=null">
                djmoney=#{djmoney},
            </if>
            <if test="dsmoney !=null">
                dsmoney=#{dsmoney},
            </if>
            <if test="jlmoney !=null">
                jlmoney=#{jlmoney},
            </if>
        </set>
           where uid=#{uid}
    </update>

    <select id="listPager" resultType="top.zzh.bean.UserMoney">
        <![CDATA[
        select * from t_usermoney limit #{beginIndex}, #{pageSize}
    ]]>
    </select>
    <select id="count" resultType="long">
        select count(id) from t_usermoney
    </select>

    <select id="listPagerCriteria" resultType="top.zzh.bean.UserMoney">
        select * from t_usermoney
        where 1=1
        <include refid="money_all"/>
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countCriteria" resultType="long">
        select count(id) from t_usermoney where 1=1
        <include refid="money_all"/>
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="getById" parameterType="top.zzh.bean.UserMoney">
        <![CDATA[
        select * from t_usermoney where uid=#{uid}
    ]]]>
    </select>

</mapper>